@import "bootstrap";
@import "font-awesome";
@import "users";

.container{
  max-width: 1000px;
}
.navbar{
  border-bottom: 2px solid rgba(0,0,0,.0975);
}
.top-right-user-nav{
  a{
    padding-left: 15px;
  }
  i.fa{
    font-size: 20px;
    color: #000000d4;
  }
}
.search-form{
  input{
    font-size: 13px;
    text-align: center;
  }
}
.footer{
  font-size: 12px;
  padding-top: 30px;
  ul{
    padding-left: 0;
    > li{
      display: inline;
      padding-right: 15px;
      color: #003569;
    }
  }
  p{
    color: #999;
  }
}

.posts{
  margin: 50px 180px 10px;
  .post{
    border: 1px solid #efefef;
    margin: 60px 0;
    border-radius: 3px;
    .user{
      border-bottom: 1px solid #efefef;
      display: flex;
      .avatar{
        width: 50px;
        margin: 10px;
        img{
          width: 100%;
          border: 5px solid #efefef;
          border-radius: 80%;
        }
      }
      .username{
        padding-top: 13px;
        color: #262626;
        font-size: 14px;
        font-weight: 600;
      }
    }
    .main-image{
      width: 100%;
      border-bottom: 1px solid #f4f4f4;
    }
    .description{
      padding: 20px;
    }
  }
}

.pagination{
  span{
    padding-right: 10px;
  }
}

